<div ng-controller="Our.Umbraco.FilePickerController">
    <ul class="unstyled list-icons" ng-show="model.value.length === 0">
        <li>
            <i class="icon icon-add blue"></i>
            <a href="#" ng-click="openPicker('{{model.config.folder}}')" prevent-default="">
                {{model.value}} <localize key="general_add" class="ng-isolate-scope ng-scope">Add</localize>

            </a>
        </li>
    </ul>
    <ul class="unstyled list-icons" ng-show="model.value.length !== 0">
        <li>
            <i class="icon fa-file handle"></i>
            <a href="#" ng-click="remove()" class="ng-binding" prevent-default="">
                <i class="icon icon-delete red hover-show"></i>
                {{model.value}}
            </a>
        </li>
    </ul>
</div>